@page
@model AZTechInt.Pages.DzialalnoscModel
@{
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Kilka słów o naszej firmie</h1>
        <p class="lead">zajmujemy się profesjonalnym wspieraniem właścicieli łodzi i oferujemy charter jachtów Klientom takim jak Ty!</p>
    </div>
</div>
<div class="alert alert-success" role="alert">
    Akceptujemy karty kredytowe i gotówke
</div>
<div class="alert alert-success" role="alert">
    Nasze jachty zawsze są sprawne i czyste
</div>
<div class="alert alert-warning" role="alert">
    Zezwalamy na zabranie swoich czworonogów na pokład
</div>