@page
@model AZTechInt.Pages.KontaktModel
@{
}
<div id="map-container-google-3" class="z-depth-1-half map-container-3">
    <iframe src="https://maps.google.com/maps?q=rewal&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border: 0; width: 100%; height: 600px;" allowfullscreen></iframe>
</div>

<div class="text-center">
    <h4>zadzwoń do nas i zapytaj o szczegóły</h4>
    <div class="text-primary h3">
        tel: +48 999 88 88
    </div>
</div>